/* Style for the back button */
#backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 24px;
    color: white;
    background-color: #1db954;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#backButton:hover {
    background-color: #1ed760;
}
